/* Общие стили */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Основной контейнер */
.container {
  width: 90%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Шапка сайта */
header {
  background-color: #333;
  color: white;
  padding: 7px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Логотип */
.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

/* Навигация */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

/* Секция с заголовком */
.containerh1 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: inherit;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 250px;
}

.containerh1 h1 {
  margin: 10px;
  font-size: 2.5em;
}

.containerh1 p {
  font-size: 1.2em;
  margin-left: 30px;
}

/* Кнопка */
.containerh1 button {
  background-color: rgb(15, 131, 255);
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.containerh1 button:hover {
  background-color: rgb(41, 128, 185);
}

/* Картинка с текстом */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 100px;
}

.text-wrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.text-wrapper img {
  width: 3em;
  margin-right: 10px;
}

/* Примеры */
.hero.examples {
  padding: 30px 0;
}

.examples-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 20px;
}

.example-item {
  width: calc(30% - 20px);
  min-width: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.example-item:hover {
  transform: translateY(-10px);
}

.example-item h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.example-item p {
  font-size: 1.2em;
  padding: 0 10px;
}

/* Подвал */
footer {
  background-color: #333;
  color: white;
  padding: 7px 0;
  text-align: center;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

footer p {
  margin: 0;
  font-size: 1em;
}

/* Информационный блок */
.aboutcont {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: inherit;
  width: 90%;
  max-width: 1200px;
  min-height: 250px;
}

.aboutcont h1 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.aboutcont p {
  margin-left: 20px;
  font-size: 20px;
}
.cantactcont {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  max-width: 1200px;
  min-height: 250px;
}
.cantactcont h1 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: xx-large;
}
.cantactcont p {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: large;
}

/* Кнопка */
.cantactcont button {
  background-color: rgb(15, 131, 255);
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.cantactcont button:hover {
  background-color: rgb(41, 128, 185);
  transform: translateY(-5px);
}
.cantactcont img {
  width: 2em;
  margin-right: 10px;
}

/* Контейнер с примерами */
.containerh2 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: inherit;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 250px;
}

.containerh2 h2 {
  text-align: center;
}

.containerh3 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: inherit;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 250px;
}
.containerh3 h2 {
  text-align: center;
}
.containerh3 li {
  text-align: center;
  font-size: 20px;
}
.containerh3 ul {
  text-align: center;
}

.articlectcont {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  width: 90%;
  max-width: 1100px;
  min-height: 800px;
}
.article1 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 170px;
  /* Указываем толщину, стиль и цвет границы */
  border: 0.1em solid #6b6b6b; /* Вот как правильно задавать границу */
  transition: background-color 0.3s ease;
}
.article1:hover {
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 170px;
  /* Указываем толщину, стиль и цвет границы */
  border: 0.1em solid #6b6b6b; /* Вот как правильно задавать границу */
}
.article2 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: inherit;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 250px;
  /* Указываем толщину, стиль и цвет границы */
  border: 0.1em solid #6b6b6b; /* Вот как правильно задавать границу */
}
.article1 h2 {
  text-align: left;
  margin-left: 20px;
}
.article1 p {
  text-align: left;
  margin-left: 20px;
}

/* Кнопка */
.article1 button {
  background-color: rgb(15, 131, 255);
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  text-align: left;
  margin-left: 30px;
}

.article1 button:hover {
  background-color: rgb(41, 128, 185);
}

.endf {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}
.endg {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
.stateh1 {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: inherit;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 250px;
  /* Указываем толщину, стиль и цвет границы */
  border: 0.1em solid #6b6b6b; /* Вот как правильно задавать границу */
}

.stateh1 h1 {
  margin: 20px;
}
.stateh1 h2 {
  margin-left: 30px;
}
.statetext {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: inherit;
  display: inline-block;
  width: 90%;
  max-width: 1800px;
  min-height: 2500px;
  /* Указываем толщину, стиль и цвет границы */
  border: 0.1em solid #6b6b6b; /* Вот как правильно задавать границу */
}

.statetext h2 {
  margin-left: 20px;
}
.statetext p {
  margin-left: 20px;
}

/* Медиа-запросы */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    padding-right: 20px; /* Уменьшаем отступ */
  }

  .text-wrapper {
    margin-bottom: 10px; /* Отступ между текстом и кнопкой */
    text-align: center; /* Центрируем текст */
  }

  .text-wrapper img {
    display: none; /* Скрываем иконку */
  }

  .containerh1 {
    margin: 20px;
    padding: 10px;
  }

  .containerh1 h1 {
    font-size: 2em;
    text-align: center;
  }

  .containerh1 p {
    margin-left: 10px;
    font-size: 1em;
  }

  .containerh1 button {
    margin: 10px auto; /* Центрируем кнопку */
    display: block;
  }

  .examples-container {
    flex-direction: column;
    padding: 10px;
  }

  .example-item {
    width: 90%;
    min-width: auto; /* Снимаем ограничение */
    margin-bottom: 10px;
  }

  .aboutcont {
    margin: 20px;
    padding: 10px;
  }

  .aboutcont h1 {
    font-size: 1.8em;
    text-align: center;
  }

  .aboutcont p {
    font-size: 1em;
    margin-left: 10px;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav li {
    margin: 5px 0;
  }
  .containerh2 {
    margin: 20px; /* Уменьшаем отступы для контейнера */
  }
  .containerh3 {
    margin: 20px; /* Уменьшаем отступы для контейнера */
  }
  .article1 {

    margin: 20px;
  }
  .articlectcont {

    margin: 20px;
  }
    .articlectcont:hover {

    margin: 20px;
  }
  .article1:hover {

    margin: 20px;
  }
    .stateh1 {

    margin: 20px;
  }
  .stateh1 {

    margin: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .containerh1 {
    margin: 30px;}
  .articlectcont {

    margin: 20px;}
  .article1 {

    margin: 20px;}
    .articlectcont:hover {

    margin: 20px;}
  .article1:hover {

    margin: 20px;}

  .containerh1 h1 {
    font-size: 2.2em;
  }

  .containerh1 p {
    font-size: 1.1em;
  }

  .example-item {
    width: calc(45% - 20px);
  }

  .aboutcont {
    margin: 50px;
  }
  .containerh2 {
    margin: 30px; /* Уменьшаем отступы для контейнера */
  }
  .containerh3 {
    margin: 30px; /* Уменьшаем отступы для контейнера */
  }
}
/* Анимации (Animations) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Применяем анимацию к секциям */
section {
  animation: fadeIn 1s ease-out;
}